#black_theme {
    background: black;
}
#gray_theme {
    background: gray;
}
#lightgray_theme {
    background: lightgray;
}
#darkgray_theme {
    background: darkgray;
}
#white_theme {
    background: white;
}
#whitesmoke_theme {
    background: whitesmoke;
}
#navajowhite_theme {
    background: navajowhite;
}

.dropzone {
    border: 2px dashed #dedede;
    border-radius: 5px;
    background: #f5f5f5;
}

.dropzone i{
    font-size: 5rem;
}

.dropzone .dz-message {
    color: rgba(0,0,0,.54);
    font-weight: 500;
    font-size: initial;
    text-transform: uppercase;
}
.images-wrapper img {
    max-width: 100%;
    height: 100%;
    margin: 0px;

}
.custom_bg {
    position: relative;
    width: 100%;
    margin-bottom: 3rem;
    z-index: 1;
}
.custom_overlay {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 15px;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.overlay1 {
    z-index: 4;
}
.overlay2 {
    z-index: 3;
}
.fix_img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}
.fix_img_container {
    height: 50%;
}
.main_img {
    position: relative;
    z-index: 10;
}

.comic_link_hide {
    display:none;
    width: 160px;
    height: 250px;
}
.show_img {
    width: 160px;
    height: 250px;
}
.custom-bg-img {
	background-image: url('/static/icon/white_dog.png');
	transform: scaleX(-1);
    width: 160px;
    height: 250px;
    background-size:100% 100%;
}
.comic_text {
    z-index: 11;
}
.custom_bg:hover .custom_overlay {
    opacity: 1;
}
.custom_bg:hover .main_img{
    opacity: 0.7;
}
.custom_bg:hover img.overlay1 {
    transition: transform 1s ease-in-out;
    transform: translateX(-65%) rotate3d(0,1,1,-25deg);
}
.custom_bg:hover img.overlay2 {
    transition: transform 1s ease-in-out;
    transform: translateX(-25%) rotate3d(0,1,1,-25deg);
}
.c-footer {
    width: 90%;
    position: absolute;
    bottom: 0;
    padding: 0 0 15px 0;
}
.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}
input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(.5); /* IE */
  -moz-transform: scale(.5); /* FF */
  -webkit-transform: scale(.5); /* Safari and Chrome */
  -o-transform: scale(.5); /* Opera */
  transform: scale(.5);
  padding: 10px;
}
.form-check-input {
    margin-top: 0;
    margin-bottom: .4rem;
}
.fa {
    font-size: 12px;
}
.far {
    font-size: 12px;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.text-yellow {
    text-decoration: underline;
    color: #eae279;
    background: url('/static/icon/brush-stroke-banner-5.png');
    background-repeat: no-repeat;
    background-size: 100% 95%;
    padding: 8px 0 16px 0;
}
.custom_text-muted {
    text-decoration: underline;
    color: #6c757d;
    background: url('/static/icon/12-grunge-brush-stroke-banner-5.png');
    background-repeat: no-repeat;
    background-size: 100% 95%;
    padding: 32px 0 48px 0;
}
.paint_stroke {
    color: #eae279;
    background: url('/static/icon/12-grunge-brush-stroke-banner-6.png');
    background-repeat: no-repeat;
    background-size: 100% 95%;
    padding: 8px 0 16px 0;
}
.blazed {
    filter: blur(4px);
    pointer-events: none;
}
.custom_test {
display: inline;
}

.tags_block {
line-height: 1.42857143;
font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
color: #fff;
text-align: center;
font-size: 1rem;
box-sizing: border-box;
margin-top: 5px;
overflow-y: auto;
overflow-x: none;
max-height: 180px;
}
.tags_block_link {
font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
box-sizing: border-box;
text-decoration: none;
display: inline-block;
line-height: 1.42857143;
text-align: center;
vertical-align: middle;
touch-action: manipulation;
cursor: pointer;
user-select: none;
border: 1px solid transparent;
font-weight: 600;
border-radius: 2px;
transition: all .15s ease-out;
padding: 2px;
background: 0 0;
margin: 1px;
font-size: 1.2rem;
border-bottom: 1px solid #ffce1f;
max-width: 230px;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
color: #fff;
}
.tags_block_link:hover {
color: #ffce1f;
}

dropdown-item { 
text-overflow: ellipsis;
}

@media screen and (min-width: 1200px) {}
@media screen and (max-width: 992px) {

.text-yellow {
    font-size: 0.8rem;
}
.custom_text-muted {
    font-size: 0.8rem;
    padding: 16px 0 32px 0;
}
paint_stroke {
    font-size: 0.8rem;
}

}
@media screen and (max-width: 768px) {

.text-yellow {
    font-size: 0.8rem;
    padding: 0 0 8px 0;
}
.custom_text-muted {
    font-size: 0.6rem;
    padding: 0 0 10px 0;
}
paint_stroke {
    font-size: 0.6rem;
    padding: 0 0 8px 0;
}

}
@media screen and (max-width: 576px) {

.text-yellow {
    font-size: 1.2rem;
    padding: 8px 0 16px 0;
}
.custom_text-muted {
    font-size: 1rem;
    padding: 32px 0 48px 0;
}
paint_stroke {
    font-size: 1rem;
    padding: 8px 0 16px 0;
}

}
