{% extends "mainapp/index.html" %}
{% load blazed %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-sm-6">
        <h2 class="pb-5">COMICS</h2>
    </div>
    <div class="col-md-6 col-sm-6">
        {% if is_paginated %}

                <div class="pagination justify-content-center pt-3 ">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                        <span class="pagination-prev">
                            <a href="/?page={{ page_obj.previous_page_number }}">previous</a>
                        </span>
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                        <span class="pagination-next">
                            <a href="/?page={{ page_obj.next_page_number }}">next</a>
                        </span>
                        {% endif %}
                    </span>
                </div>

        {% endif %}
    </div>
</div>
<div class="container">
  <div class="row images-wrapper justify-content-md-center fix_img_container">
        {% for comic in comics %}
            <div class="col-md-4 col-sm-4 custom_bg {% blaze user.is_authenticated comic.comic_genre user %}">

                <img src="/media/{{ comic.comic_banner_image }}" class="fix_img main_img" alt="{{ comic.comic_name }}">

                {% for i in comic.get_preview reversed %}
                <div class="custom_overlay">
                    <img src="/media/{{ i.image }}" class="fix_img overlay{{ forloop.counter }}" alt="">
                </div>
                {% endfor %}

                <div class="custom_overlay comic_text">

                    <div class="row justify-content-sm-center">
                        <div class="col-md-12 col-sm-12 pt-3 mb-3" align="center">
                            <h5 class="text-yellow">{{ comic.comic_name }}</h5>
                        </div>
                        <div class="col-md-12 col-sm-12 pt-3" align="center">
                            <small><h6 class="custom_text-muted">by {{ comic.comic_author }}</h6></small>
                        </div>
                    </div>
                    <div class="row justify-content-sm-center">
                        <div class="tags_block">
                            {% for tag in comic.tags.all %}
                            <a href="{% url 'searchblock:by_tags' tag.slug %}" class="tags_block_link">{{ tag }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row justify-content-sm-center">
                        {% if comic.comic_original_link %}
                        <div class="paint_stroke col-md-12 col-sm-12" align="center">
                            <a target="_blank" rel="noopener noreferrer" href="{{ comic.comic_original_link }}">Origin page</a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="c-footer">
                    <div class="row justify-content-xm-center ml-1">
                        <div class="col-xs-4">
                        <a href="{% url 'mainapp:reader' comic.id %}" class="btn btn-primary btn-sm">
                            <i class="fa fa-book" aria-hidden="true"></i>
                        </a>
                    </div>
                        <div class="col-xs-4">
                            <div data-id="{{ comic.id }}" data-type="bookmark" data-action="bookmark" title="Избранное">
                            <a href="#" class="btn btn-primary btn-sm">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </a>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <span class="btn btn-primary btn-sm">
                            <i class="far fa-eye custom_eye"><span data-count="{{ comic.id }}bookmark">  {{ comic.get_bookmark_count }}</span></i>
                            </span>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
        {% endfor %}
  </div>
</div>

{% endblock %}