
<footer class="fixed-bottom container bg-dark rounded-top">
  <div class="text-light">
      <div class="content pt-3 pb-2">
          <div class="row">
              <div class="col-md" align="center">
                  <a href="{% url 'mainapp:about' %}">О проекте</a>
              </div>
              <div class="col-md" align="center">
                  ©2020 Copyright: <a href="https://vk.com/id13095414">Керейник А.В.</a>
              </div>
          </div>
      </div>

  </div>
</footer>

